<form>
    <div class="form-group">
        <label>Name</label>
        {{utente.name.first}}
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="utente.phone" />
    </div>

    <div class="form-group">
        <label for="mail">Email</label>
        <input type="email" class="form-control" id="mail" [(ngModel)]="utente.email" />
    </div>

    <button (click)="save()" class="btn btn-default">Salva</button>
</form>